<md-dialog aria-label="login">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon aria-label="Close"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-content class="md-padding">
        <form name="entity">
          <md-input-container class="md-block">
            <label>Name</label>
            <input md-maxlength="30" required md-no-asterisk name="name" ng-model="$ctrl.user.name" type="text">
            <div ng-messages="entity.name.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input md-maxlength="30" required md-no-asterisk name="password" ng-model="$ctrl.user.password" enter-submit="$ctrl.login()" type="password">
            <div ng-messages="entity.password.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </form>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="$ctrl.cancel()">
        Cancel
      </md-button>
      <md-button ng-click="$ctrl.login()">
        Login
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
