<md-dialog aria-label="login">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create User</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon aria-label="Close"><i class="material-icons">close</i></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content class="md-padding">
      <form name="entity" layout-wrap layout="collumn">
        <md-input-container class="md-block" flex="100">
          <label>User Name</label>
          <input md-maxlength="30" required md-no-asterisk name="username" ng-model="$ctrl.entity.username" type="text">
          <div ng-messages="entity.username.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex="100">
          <label>Email</label>
          <input md-maxlength="30" required md-no-asterisk name="email" ng-model="$ctrl.entity.email" type="email">
          <div ng-messages="entity.email.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex="100">
          <label>First Name</label>
          <input md-maxlength="30" md-no-asterisk name="fName" ng-model="$ctrl.entity.first_name" type="text">
          <div ng-messages="entity.fName.$error">
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex="100">
          <label>Last Name</label>
          <input md-maxlength="30" md-no-asterisk name="lName" ng-model="$ctrl.entity.last_name" type="text">
          <div ng-messages="entity.lName.$error">
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-checkbox ng-model="$ctrl.entity.is_staff" aria-label="check" flex="100">
          Stuff
        </md-checkbox>
        <md-checkbox ng-model="$ctrl.entity.is_superuser" aria-label="check" flex="100">
          Admin
        </md-checkbox>
        <md-input-container class="md-block" flex="100">
          <label>Date joined</label>
          <input md-no-asterisk ng-model="$ctrl.entity.date_joined" type="text" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-block" flex="100">
          <label>Date login last</label>
          <input md-no-asterisk ng-model="$ctrl.entity.last_login" type="text" ng-readonly="true">
        </md-input-container>
      </form>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="$ctrl.cancel()">
      Cancel
    </md-button>
    <md-button ng-click="$ctrl.update()">
      Update
    </md-button>
  </md-dialog-actions>
</md-dialog>
